.characters {
  background: rgba(255, 255, 255, 0.6);
  width: 50%;
  margin: 1rem auto;
  border-radius: 5px;
  padding: 0.5rem;
}

.character-name {
  color: #d19b60;
  padding: 0.5rem;
  font-size: 1.6rem;
  text-shadow: 1px 1px 5px #fff;
}

.character-info {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.character-info-text {
  font-weight: 200;
}

.character-info-text p {
  background: #443e3e;
  color: white;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 5px;
}

.character-info-text p:hover {
  background: #d19b60;
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
  cursor: pointer;
}

.stats {
  color: #443e3e;
  font-size: 1.5rem;
}
